:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

header {
  background-color: #fff;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-variant: var(--font-size-md);
}

 #grid1 {
  display: grid;
  grid-template-areas: 
  "pic1 pic1 pic1"
  "pic2 pic3 pic4";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr .3fr;
  gap: 3em;
  margin-bottom: 2em;
  }

#pic1 {
  grid-area: pic1;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

#pic2 {

  grid-area: pic2;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

#pic3 {
  grid-area: pic3;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit: cover;
}

#pic4 {
  grid-area: pic4;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

#text-header {
  font-size: var(--font-size-xl);
  font-weight: normal;
  margin: 0;
}

#le {
  text-transform: uppercase;
  font-weight: bold;
}

button {
  background-color: black;
  color: #fff;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: .5em;
  font-size: var(--font-size-base);
}

.history h1 {
  text-align: center;
}

.review h1 {
text-align: center;
}

.review p {
margin: 1em;
}

.names {
  font-style: italic;
}

.review {
  background-color: black;
  color: #fff;
}

.review-people {
  display: block;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.grid2 h1 {
  text-align: center;
  font-size: var(--font-size-lg);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.flavours {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.products img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.products {
  display: grid;
  grid-template-rows: .5fr .25fr .25fr ;
}


@media (min-width: 960px) {
header .inner-content {
  padding-left: 1em;
  padding-right: 1em;
}

.grid1 {
  grid-template-areas: "pic1" "pic2" "pic3" "pic4";
  gap: 1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

}

footer {
  text-align: center;
  padding-bottom: 3em;
  padding-top: 3em;
  font-variant: var(--font-size-sm);
  background-color: #fff;
}